/* ===================================
 * Project:  Interaction South America 2013
 * Company:  IxDA Recife
 * Author:   Ramon Victor
 * Date:     06/2013
 * ===================================
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, section, dialog, figure, aside, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

a {
  overflow: hidden;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 85%;
}

img {
  -ms-interpolation-mode: bicubic;
}

label {
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input {
  line-height: normal;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

button {
  width: auto;
  overflow: visible;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

.lt-ie8 button, .lt-ie8 input {
  overflow: visible;
}

.lt-ie8 button, .lt-ie8 input, .lt-ie8 select, .lt-ie8 textarea {
  vertical-align: middle;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  font-size: 13px;
  line-height: 1;
  background: url(i/body-pattern.png) no-repeat center 154px;
}

body, button, input, select, textarea {
  font-family: "Roboto Slab", Georgia, Arial;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

::-moz-selection {
  background: #45b2ad;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #45b2ad;
  color: #fff;
  text-shadow: none;
}

a {
  color: #f76443;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  letter-spacing: -.07em;
}

p {
  line-height: 150%;
  margin-bottom: .7em;
}

.icons-sprite, .icon-facebook, .icon-gplus, .icon-linkedin, .icon-rss, .icon-share, .icon-twitter {
  background: url('i/icons-sc4f165c628.png') no-repeat;
}

.icon-facebook {
  background-position: 0 -100px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-gplus {
  background-position: 0 -20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-linkedin {
  background-position: 0 -80px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-rss {
  background-position: 0 -40px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-share {
  background-position: 0 -60px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-twitter {
  background-position: 0 0;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#hd-wrapper {
  background: url(i/pattern-header.png) repeat-x center 58px;
}

#hd {
  height: 230px;
}
#hd .place-date {
  font-size: 15px;
  color: #505d65;
  padding-left: 6px;
}
#hd .vcard {
  float: left;
  width: 290px;
  padding: 8px 15px;
  background: #fff;
}

.isa13-social {
  float: right;
  padding-top: 20px;
}
.isa13-social li {
  float: left;
  margin-right: 10px;
}
.isa13-social .icon-alone {
  color: #ccc;
}
.isa13-social .icon-alone:hover {
  color: #339999;
}

.languages-nav {
  float: left;
  margin-left: 320px;
}
.languages-nav li {
  font-family: Roboto;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  float: left;
}
.languages-nav li > a {
  color: #ccc;
  padding: 0 10px;
  display: block;
  height: 58px;
  line-height: 58px;
}
.languages-nav li > a:hover {
  color: #339999;
}
.languages-nav li.current > a {
  color: #339999;
  background: #ecefbb;
}

.register-wrapper {
  padding-top: 26px;
}

#main-nav {
  padding-top: 15px;
  background: url(i/gray-nav-border.png) repeat-x 0 bottom;
}
#main-nav > ul {
  width: 100%;
}
#main-nav li {
  float: left;
  font-family: Roboto;
  margin-right: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
#main-nav li a {
  color: #999;
  display: block;
  height: 32px;
  line-height: 32px;
}
#main-nav li a:hover {
  color: #163c3c;
}
#main-nav li.current a {
  color: #163c3c;
  border-bottom: 1px solid #339999;
}
#main-nav li.right {
  float: right;
  margin-right: 0;
}
#main-nav li.right a {
  color: #f76443;
}

.speakers-list > li {
  float: left;
  width: 150px;
  margin: 0 10px 15px 0;
}
.speakers-list > li img {
  display: block;
  margin-bottom: 10px;
}
.speakers-list > li.no-mr {
  margin-right: 0;
}

.speakers-section, .fb-widget {
  margin-bottom: 30px;
}
.speakers-section .title, .fb-widget .title {
  font-size: 30px;
  margin-bottom: .8em;
}

.speaker-box {
  display: block;
  position: relative;
}
.speaker-box .name {
  display: block;
  color: #99cc00;
  margin-bottom: 3px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.speaker-box .country {
  display: block;
  color: #999;
}
.speaker-box:hover:after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #f76443;
  position: absolute;
  left: 0;
  top: 196px;
}
.speaker-box:hover .name {
  color: #f76443;
}

.highlights-section {
  margin-bottom: 30px;
}

.highlight-section {
  width: 270px;
  height: 200px;
  float: left;
  margin-right: 10px;
  padding: 15px 20px 0;
  position: relative;
  color: #316060;
  border-top: 3px solid #99cc00;
}
.highlight-section:last-child {
  margin-right: 0;
}
.highlight-section .title {
  margin-bottom: 10px;
}
.highlight-section p {
  font-size: 14px;
}

.highlight-section-btn {
  color: #163c3c;
  display: inline-block;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 20px;
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  line-height: 40px;
}

.headline-section {
  width: 310px;
  float: left;
  margin-right: 10px;
}
.headline-section:last-child {
  margin-right: 0;
}

.twitter-widget {
  background: url(i/twitter-box.png) no-repeat;
}

.twitter-widget-hd {
  padding: 12px 0 10px 87px;
}
.twitter-widget-hd .thumb {
  float: left;
  margin-right: 9px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.twitter-widget-hd .twitter-name {
  display: inline-block;
  height: 35px;
  line-height: 35px;
}

.twitter-widget-body {
  padding-left: 87px;
  font-family: "Roboto";
  font-size: 12px;
}

.headline-blog .title {
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 5px;
}
.headline-blog .label {
  margin-bottom: 10px;
}
.headline-blog .author {
  font-family: "Roboto";
}

.diamond-sponsor {
  margin-bottom: 15px;
}
.diamond-sponsor .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.sponsors {
  padding-bottom: 55px;
}
.sponsors .box {
  margin-bottom: 24px;
}

#ft-bar {
  background: #26404f;
  padding: 20px 0;
}
#ft-bar p {
  margin-bottom: 0;
}

.credits {
  float: right;
}
.credits li {
  float: left;
  margin-right: 25px;
}
.credits li:last-child {
  margin-right: 0;
}

.credits-label {
  display: block;
  color: #54c3c3;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#wrap-carrossel {
  width: 950px;
  min-height: 140px;
  position: relative;
}

.jcarousel-clip-horizontal {
  width: 950px;
  min-height: 140px;
  overflow: hidden;
}

.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(i/slider-nav.png) no-repeat;
}

.jcarousel-prev-horizontal {
  left: 0;
}

.jcarousel-next-horizontal {
  right: 0;
  background-position: right 0;
}

.jcarousel-next-disabled, .jcarousel-prev-disabled {
  cursor: default;
  background: none;
}

.centered {
  width: 950px;
  margin: 0 auto;
}

.underlined-title {
  padding-bottom: 8px;
  margin-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
}

.green-box {
  background: #a5d6d6;
}

.light-red-box {
  background: #f2cbc1;
}

.melon-green-box {
  background: #d6eb99;
}

.c-melon-green {
  color: #99cc00;
}

.c-gray {
  color: #999;
}

.c-gray-light {
  color: #ccc;
}

.c-green {
  color: #339999;
}

.mb-30 {
  margin-bottom: 30px;
}

.big-btn {
  background: #f76443;
  color: #fff;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 21px;
  height: 70px;
  line-height: 70px;
  text-shadow: 1px 1px 3px rgba(161, 60, 38, 0.75);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.big-btn:hover {
  background: #dc593b;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-30 {
  font-size: 30px;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.ff-roboto {
  font-family: "Roboto";
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clr {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.skip {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

@font-face {
  font-family: 'ficons';
  src: url("f/ficons.eot");
  src: url("f/ficons.eot?#iefix") format("embedded-opentype"), url("f/ficons.woff") format("woff"), url("f/ficons.ttf") format("truetype"), url("f/ficons.svg#ficons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'ficons';
  content: attr(data-icon);
  speak: none;
  line-height: 1;
  font-size: 18px;
}

.icon-alone {
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.group {
  zoom: 1;
}
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
