.centered{
	width: $desktop-width;
	margin: 0 auto;
}

.underlined-title{
	padding-bottom: 8px;
	margin-bottom: 1em;
	border-bottom: 1px solid #f2f2f2;
}

// home sections

.green-box{
	background: #a5d6d6;
}

.light-red-box{
	background: #f2cbc1;	
}

.melon-green-box{
	background: #d6eb99;
}


// colors
.c-melon-green{
	color: $melon-green;
}

.c-gray{
	color: #999;
}

.c-gray-light{
	color: #ccc;
}

.c-green{
	color: $green;
}

.c-brown{
	color: $brown;
}

// spacers
.mb-30{
	margin-bottom: 30px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-15{
	margin-bottom: 15px;
}

// btns
.big-btn{
	background: $orange;
	color: #fff;
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0 21px;
	@include vertical-align(70px);
	@include single-text-shadow(1px, 1px, 3px, false, rgba(161,60,38,.75));
	@include single-transition(all, .2s, linear);
	&:hover{
		background: $orange-dark;
	}
}

.more-btn{
	font-family: "Roboto";
	color: #fff;
	text-transform: uppercase;
	background: $orange;
	display: inline-block;
	padding: 5px 7px;
}

// font sizes
.fs-11{
	font-size: 11px;
}
.fs-12{
	font-size: 12px;
}
.fs-14{
	font-size: 14px;
}
.fs-15{
	font-size: 15px;
}
.fs-16{
	font-size: 16px;
}
.fs-30{
	font-size: 30px;
}

.fw-light{
	font-weight: 300;
}

.fw-bold{
	font-weight: 700;
}

.ff-roboto{
	font-family: "Roboto";
}

// rv classes
.hide { display: none }
.show { display: block }
.clr { clear: both }
.left { float: left }
.right { float: right }
.skip {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block
}


// icon fonts

@font-face {
	font-family: 'ficons';
	src:url('f/ficons.eot');
	src:url('f/ficons.eot?#iefix') format('embedded-opentype'),
		url('f/ficons.woff') format('woff'),
		url('f/ficons.ttf') format('truetype'),
		url('f/ficons.svg#ficons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
  font-family: 'ficons';
  content: attr(data-icon);
  speak: none; 
  line-height: 1;
  font-size: 18px;
}

.icon-alone {
  display: inline-block; 
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// Clear fix
.group {
	zoom: 1;
	&:before, &:after {
	  content: "";
	  display: table;
	}
	&:after { 
		clear: both;
	} 
}