@mixin vertical-align( $h ){
  height: $h;
  line-height: $h;
}

@mixin box-dimentions($w, $h){
  display: block;
  width: $w;
  height: $h;
}


@mixin new-icon ( $icon-name ){
	.#{$icon-name} {
		@include icons-sprite( $icon-name );
		width: icons-sprite-width( $icon-name );
		height: icons-sprite-height( $icon-name );
		display: inline-block;
	}
}