#hd-wrapper{
	background: url(i/pattern-header.png) repeat-x center 58px;
}

#hd{
	height: 230px;
	.place-date{
		font-size: 15px;
		color: #505d65;
		padding-left: 6px;
	}
	.vcard{
		float: left;
		width: 290px;
		padding: 8px 15px;
		background: #fff;
	}
}

.isa13-social{
	float: right;
	padding-top: 20px;
	li{
		float: left;
		margin-right: 10px;
	}
	.icon-alone{
		color: #ccc;
		&:hover{
			color: $green;
		}
	}
}

.languages-nav{
	float: left;
	margin-left: 320px;
	li{
		font-family: Roboto;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		float: left;
		>a{
			color: #ccc;
			padding: 0 10px;
			display: block;
			@include vertical-align(58px);
			&:hover{
				color: $green;
			}
		}
		&.current{
			>a{
				color: $green;
				background: $melon-green-lighter;
			}
		}
	}
}

.register-wrapper{
	padding-top: 26px;
	position: relative;
}

.register-subnav{
	position: absolute;
	top: 100%;
	left: 0;
	background: #ec5c3c;
	width: 282px;
	padding: 15px 20px;
	z-index: 5;
	opacity: 0;
	@include single-transition(opacity, .4s, linear);
	.open &{
		display: block;
		opacity: 1;
	}
	li{
		clear: both;
		// padding-bottom: 12px;
		// margin-bottom: 12px;
		border-bottom: 1px solid #fb7659;
		&:last-child{
			border-bottom: 0;
			margin-bottom: 0;
		}
		&>a{
			display: block;
			color: #fff;
			padding: 12px 0;
			&:hover{
				color: #f7c5bd;
			}
		}
		.text{
			display: block;
			@include vertical-align(30px);
		}
	}
	.icon{
		float: left;
		margin-right: 10px;
	}
}

.register-subnav-title{
	font-size: 21px;
	color: #ff8b71;
	margin-bottom: 6px;
}

#main-nav{
	padding-top: 15px;
	background: url(i/gray-nav-border.png) repeat-x 0 bottom;
	> ul{
		width: 100%;
	}
	li{
		float: left;
		font-family: Roboto;
		margin-right: 20px;
		font-weight: 700;
		text-transform: uppercase;
		a{
			color: #999;
			display: block;
			@include vertical-align(32px);
			&:hover{
				color: $green-darker;
			}
		}
		&.current{
			a{
				color: $green-darker;
				border-bottom: 1px solid $green;
			}
		}
		&.right{
			float: right;
			margin-right: 0;
			a{
				color: $orange;
			}
		}
	}
}